JobDefs {
  Name = "{{ansible_hostname}}-Def"
  Type = Backup
  Level = Incremental
  Client = {{ansible_hostname}}-fd
  FileSet = "{{ansible_hostname}}-Fset"                     # selftest fileset                            (#13)
  Schedule = "WeeklyCycle"
  Storage = File
  Messages = Standard
  Pool = Incremental
  Priority = 10
  Write Bootstrap = "/var/lib/bareos/%c.bsr"
  Full Backup Pool = Full                  # write Full Backups into "Full" Pool         (#05)
  Differential Backup Pool = Differential  # write Diff Backups into "Differential" Pool (#08)
  Incremental Backup Pool = Incremental    # write Incr Backups into "Incremental" Pool  (#11)
}

Job {
  Name = "Backup-{{ansible_hostname}}"
  JobDefs = "{{ansible_hostname}}-Def"
}

Job {
  Name = "Restore {{ansible_hostname}}"
  Type = Restore
  Client={{ansible_hostname}}-fd
  FileSet = "{{ansible_hostname}}-Fset"
  Storage = File
  Pool = Incremental
  Messages = Standard
}

FileSet {
  Name = "{{ansible_hostname}}-Fset"
  Include {
    Options {
      Signature = MD5 # calculate md5 checksum per file
    }
  {% for row in bareos_file_backup %}
  File={{row}}
  {% endfor %}
  }
  Exclude {
  {% for row in bareos_file_exclude %}
  File={{row}}
  {% endfor %}
  }
}

Client {
  Name = {{ansible_hostname}}-fd
  Address = {{ansible_hostname}}
  Password = "{{bareos_dir_password}}"          # password for FileDaemon
}
